
@{
    ViewBag.Title = "HW2";
}

<h2>HW2</h2>

<p>
    姓名:
    @Html.TextBox("text")
</p>
<P>
    帳號:
    @Html.TextBox("text")
</P>
<p>
    密碼:
    @Html.Password("password")
</p>
<p>
    性別:
    @Html.RadioButton("gender", "0")男
    @Html.RadioButton("gender", "1")女
</p>
<p>
    興趣:
    @Html.CheckBox("hobby", "0")游泳
    @Html.CheckBox("hobby", "1")閱讀
    @Html.CheckBox("hobby", "2")看電影
</p>
<p>
    自我介紹:
    @Html.TextArea("introduction")
</p>


